pandas
lxml
openai
langchain
tiktoken
rich
jinja2
git+https://github.com/ProKil/PettingZoo.git
redis-om
pandas-stubs
types-tqdm
peft
transformers
logzero
fastapi
uvicorn
gin-config
absl-py
datasets
names
together
pydantic==1.10.12
