name: Pytest (Installation)

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

on:
  push:
    branches:
      - main
      - release
      - dev
  pull_request:
    branches:
      - main
      - release

jobs:
  Pytest:
    strategy:
      max-parallel: 5
      matrix:
        os: [ubuntu-latest, macos-13]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: 3.11.2
    - name: Set up Docker
      if: runner.os == 'ubuntu-latest'
      uses: docker-practice/actions-setup-docker@master
      timeout-minutes: 12
    - name: Install dependencies
      run: |
          python -m pip install --upgrade pip
          python -m pip install uv
          uv sync --extra test --extra chat
    - name: Test with pytest
      run: |
        uv run pytest tests/cli/test_install.py --cov=. --cov-report=xml
    - name: Upload coverage report to Codecov
      uses: codecov/codecov-action@v4.0.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
