name: Pytest
on: [push]

jobs:
  Pytest:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: 3.11.2
    - name: Install dependencies
      run: |
        curl -sSL https://install.python-poetry.org | python3
        poetry install --all-extras
    - name: Test with pytest
      env: # Or as an environment variable
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        REDIS_OM_URL: ${{ secrets.REDIS_OM_URL }}
        TOGETHER_API_KEY: ${{ secrets.TOGETHER_API_KEY }}
      run: |
        poetry run pytest
