name: Python Package Pytest
on: [push]

jobs:
  test-all:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: 3.11.2
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt
        pip install -e .[dev]
    - name: Type-checking package with mypy
      run: |
        # Manually install mypy in the standard way.
        pip --quiet install -U mypy
        # Log this mypy version for debuggability.
        mypy --version
        # Run this mypy instance against our main package.
        mypy --install-types --non-interactive sotopia
        mypy --strict .
    - name: Test with pytest
      env: # Or as an environment variable
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      run: |
        pytest
